.img {
  font-size: 2rem;
}

.skills-name {
  margin-top: 7rem;
  font-size: 3rem;
  margin-bottom: 2rem;
  text-align: center;
  font-family: "Indie Flower", cursive;
}

.solar-system {
  height: 55vh;
  color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.Sun {
  width: 35px;
  height: 35px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Indie Flower", cursive;
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
  position: absolute;
}

.Mercury {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: absolute;
  border: 2px solid rgb(179, 181, 136);
  animation: spin 80s linear infinite;
}

.s {
  width: 35px;
  height: 35px;
  position: absolute;
  right: 100px;
  border-radius: 50%;
}

.Venus {
  width: 215px;
  height: 215px;
  border: 2px solid rgb(179, 181, 136);
  border-radius: 50%;
  position: absolute;
  animation: spin 60s linear infinite reverse;
}

.s1 {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: absolute;
  right: 150px;
}

.Earth {
  width: 280px;
  height: 280px;
  border: 2px solid rgb(179, 181, 136);
  border-radius: 50%;
  position: absolute;
  animation: spin 60s linear infinite reverse;
}

.s2 {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: absolute;
  right: 140px;
}

.Mars {
  width: 350px;
  height: 350px;
  border: 2px solid rgb(179, 181, 136);
  border-radius: 50%;
  position: absolute;
  animation: spin 60s linear infinite;
}

.s3 {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: absolute;
  right: 220px;
}

.Jupiter {
  width: 415px;
  height: 415px;
  border: 2px solid rgb(179, 181, 136);
  border-radius: 50%;
  position: absolute;
  animation: spin 60s linear infinite reverse;
}

.s4 {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: absolute;
  right: 210px;
}

.Saturn {
  width: 470px;
  height: 470px;
  border: 2px solid rgb(179, 181, 136);
  border-radius: 50%;
  position: absolute;
  animation: spin 60s linear infinite;
}

.s5 {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: absolute;
  right: 280px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.Skills-p {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-family: "Indie Flower", cursive;
  font-size: 1.4rem;
}

.wrapper {
  margin: 1rem;
}
